fastapi
uvicorn[standard]
langchain
langchain-openai
langgraph
langsmith
openai
pgvector
psycopg2-binary
sqlalchemy
alembic
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
tiktoken
PyMuPDF
Pillow
pytesseract
pdfplumber
httpx